# Análisis y Preprocesamiento del Consumo de Energía en los Estados Unidos (1973-2024)

**Autor:** Jean Pool Marín Betancur  
**Fecha:** 2025-06-05
**Versión:** 1.0  

---
# 1. Configuración del Entorno e Importaciones:
---

In [82]:
# Se importan las librerías necesarias
import sys
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Se importan las funciones de la librería personalizada
sys.path.append(os.path.abspath('..'))
import src.data_loader as dl

In [83]:
# Se definen las rutas de los archivos
data_path = os.path.join('..', 'data', 'raw', 'US_Renewable_Energy_Consumption.csv')

In [84]:
# Configración de Pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:,.2f}'.format)
pd.set_option('display.max_rows', 50)

# Configuración de Matplotlib
plt.style.use('seaborn-v0_8')
plt.rcParams['figure.figsize'] = (12, 6)
plt.rcParams['font.size'] = 12
plt.rcParams['axes.titlesize'] = 14
plt.rcParams['axes.labelsize'] = 12

# Configuación de NumPy
np.set_printoptions(precision=2, suppress=True)

---
# 2. Carga de Datos Crudos e Inspección Inicial:
---

In [85]:
# Se lee el archivo CSV en un DataFrame de Pandas
df = pd.read_csv(data_path)
df

,Year,Month,Sector,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Biomass Energy,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel
0,1973,1,Commerical,0.00,0.00,0.00,0.00,0.57,0.00,0.00,0.00,0.57,0.57,0.00,0.00,0.00,0.00
1,1973,1,Electric Power,0.00,0.49,0.00,0.00,0.05,0.16,0.00,0.00,0.21,89.22,0.00,0.00,88.52,0.00
2,1973,1,Industrial,1.04,0.00,0.00,0.00,98.93,0.00,0.00,0.00,98.93,99.97,0.00,0.00,0.00,0.00
3,1973,1,Residential,0.00,0.00,0.00,0.00,30.07,0.00,0.00,0.00,0.00,30.07,0.00,0.00,0.00,0.00
4,1973,1,Transportation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3060,2024,1,Commerical,0.07,1.67,4.27,0.04,7.05,6.23,2.44,0.00,15.73,21.77,0.00,0.00,0.00,0.00
3061,2024,1,Electric Power,0.00,4.67,32.71,119.27,15.07,13.87,0.00,0.00,28.94,257.66,0.00,0.00,72.08,0.00
3062,2024,1,Industrial,0.31,0.36,0.99,0.04,104.88,14.17,1.53,67.74,188.32,190.01,0.00,0.00,0.00,0.00
3063,2024,1,Residential,0.00,3.35,14.90,0.00,34.06,0.00,0.00,0.00,0.00,52.32,0.00,0.00,0.00,0.00
3064,2024,1,Transportation,0.00,0.00,0.00,0.00,0.00,0.00,86.10,0.00,140.19,0.00,30.78,3.44,0.00,19.87

In [86]:
# Primeros y últimos 10 registros del DataFrame
print("Primeros 10 registros del DataFrame:")
df.head(10)

Primeros 10 registros del DataFrame:

,Year,Month,Sector,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Biomass Energy,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel
0,1973,1,Commerical,0.00,0.00,0.00,0.00,0.57,0.00,0.00,0.00,0.57,0.57,0.00,0.00,0.00,0.00
1,1973,1,Electric Power,0.00,0.49,0.00,0.00,0.05,0.16,0.00,0.00,0.21,89.22,0.00,0.00,88.52,0.00
2,1973,1,Industrial,1.04,0.00,0.00,0.00,98.93,0.00,0.00,0.00,98.93,99.97,0.00,0.00,0.00,0.00
3,1973,1,Residential,0.00,0.00,0.00,0.00,30.07,0.00,0.00,0.00,0.00,30.07,0.00,0.00,0.00,0.00
4,1973,1,Transportation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5,1973,2,Commerical,0.00,0.00,0.00,0.00,0.52,0.00,0.00,0.00,0.52,0.52,0.00,0.00,0.00,0.00
6,1973,2,Electric Power,0.00,0.45,0.00,0.00,0.16,0.14,0.00,0.00,0.30,79.33,0.00,0.00,78.58,0.00
7,1973,2,Industrial,0.96,0.00,0.00,0.00,89.36,0.00,0.00,0.00,89.36,90.32,0.00,0.00,0.00,0.00
8,1973,2,Residential,0.00,0.00,0.00,0.00,27.16,0.00,0.00,0.00,0.00,27.16,0.00,0.00,0.00,0.00
9,1973,2,Transportation,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [87]:
print("\nÚltimos 10 registros del DataFrame:")
df.tail(10)

Últimos 10 registros del DataFrame:

,Year,Month,Sector,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Biomass Energy,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel
3055,2023,12,Commerical,0.00,1.67,3.91,0.04,7.00,6.40,2.65,0.00,16.05,21.74,0.00,0.00,0.00,0.00
3056,2023,12,Electric Power,0.00,4.82,31.16,130.85,11.91,15.13,0.00,0.00,27.04,259.51,0.00,0.00,65.64,0.00
3057,2023,12,Industrial,0.27,0.36,0.94,0.04,104.60,14.36,1.67,74.07,194.69,196.30,0.00,0.00,0.00,0.00
3058,2023,12,Residential,0.00,3.36,14.66,0.00,38.25,0.00,0.00,0.00,0.00,56.27,0.00,0.00,0.00,0.00
3059,2023,12,Transportation,0.00,0.00,0.00,0.00,0.00,0.00,93.57,0.00,156.23,0.00,38.34,4.10,0.00,20.22
3060,2024,1,Commerical,0.07,1.67,4.27,0.04,7.05,6.23,2.44,0.00,15.73,21.77,0.00,0.00,0.00,0.00
3061,2024,1,Electric Power,0.00,4.67,32.71,119.27,15.07,13.87,0.00,0.00,28.94,257.66,0.00,0.00,72.08,0.00
3062,2024,1,Industrial,0.31,0.36,0.99,0.04,104.88,14.17,1.53,67.74,188.32,190.01,0.00,0.00,0.00,0.00
3063,2024,1,Residential,0.00,3.35,14.90,0.00,34.06,0.00,0.00,0.00,0.00,52.32,0.00,0.00,0.00,0.00
3064,2024,1,Transportation,0.00,0.00,0.00,0.00,0.00,0.00,86.10,0.00,140.19,0.00,30.78,3.44,0.00,19.87

## Hallazgos claves.

1) Los valores nulos presentes en todo el dataset deben ser tratados ya que estos corresponden bien sea a valores no registrados, no disponibles en el fecha indicada o sin información. Por lo tanto, se debe realizar un estudio y interpretación de estos valores previamente identificandolos y marcandolos como NaN, para posteriormente realizar una interpolación.

2) Las columnas `Year` y `Month` deben ser convertidas a tipo datetime y renombradas a `Datetime` para facilitar la interpretación y el análisis de los datos.

3) Los últimos 5 valores correspoden a la medición de la energía en el primer més del año 2024, para no presentar datos incompletos en el análisis, se debe eliminar estos valores.

4) La columna `Total Renewable Energy` presente en el dataframe puede presentar valores incorrectos de la suma de las demás energías renovables a lo largo del tiempo, por lo cual se debe recalcular esta columna para asegurar la consistencia de los datos.

---
# 3. Manejo Inicial de Ceros y Datetime:
---

In [88]:
# Se identifican las columnas claves de Dataframe
consumption_columns = [
    'Hydroelectric Power', 'Geothermal Energy', 'Solar Energy',
    'Wind Energy', 'Wood Energy', 'Waste Energy',
    'Fuel Ethanol, Excluding Denaturant','Biomass Losses and Co-products',
    'Biomass Energy', 'Total Renewable Energy','Renewable Diesel Fuel',
    'Other Biofuels','Conventional Hydroelectric Power', 'Biodiesel'
]

In [89]:
# Reemplaza 0 con NaN en esas columnas
df[consumption_columns] = df[consumption_columns].replace(0, np.nan)

In [90]:
# Se elimina el año 2024 del DataFrame
df = df[df['Year'] != 2024]

In [95]:
# Se combinan las columnas 'Year' y 'Month' para crear una nueva columna 'Datetime' si no existe
if 'Datetime' not in df.columns:
    # Comprobando si las columnas 'Year' y 'Month' existen en el DataFrame
    if 'Year' in df.columns and 'Month' in df.columns:
        # Combinando columnas de Year y Month para crear una nueva columna 'Datetime'
        df['Datetime'] = pd.to_datetime(df['Year'].astype(str) + '-' + df['Month'].astype(str), format='%Y-%m')
        # eliminando las columnas 'Year' y 'Month'
        df = df.drop(['Year', 'Month'], axis=1)  # Eliminando las columnas 'Year' y 'Month'
        # Se establece la columna 'Datetime' como índice del DataFrame
        df.set_index('Datetime', inplace=True)  # Estableciendo la columna 'Datetime' como índice del DataFrame
        df.sort_index(inplace=True) # Ordenando el DataFrame por la columna 'Datetime'

In [92]:
# se convierten la columna 'Sector' a tipo categórico
df['Sector'] = df['Sector'].astype('category').copy()  # Convertir la columna 'Sector' a tipo categórico

In [93]:
# Se realiza la interpolación de los valores NaN en las columnas de consumo para corregir la base de datos.
df_imputed = dl.imputar_datos_consumo(df, consumption_columns)

In [94]:
# Se cambia el nombre del Sector 'Commerical' a 'Commercial'
df_imputed['Sector'] = df_imputed['Sector'].cat.remove_categories({'Commerical' : 'Commercial'})